.home-text {
  /* verticaly centers the div */
  /* horizontal centering is done through bootstrap */
  height: 200px; /* This is important! */

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.home-title {
  font-weight: bold;
}

.home-subtitle {
  font-weight: italic;
}

.github-link {
  color: inherit;
}

.home-menu {
  top: 20px;
}

.home-menu-item {
  font-size: 25px;
  border-bottom: 3px solid #222;
}

