.home-text {
  /* verticaly centers the div */
  /* horizontal centering is done through bootstrap */
  height: 200px; /* This is important! */

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.home-title {
  font-weight: bold;
}

.home-subtitle {
  font-weight: italic;
}

.github-link {
  color: inherit;
}

.home-menu {
  display: inline-block;
  margin: auto;
}

.home-menu-item {
  font-size: 25px;
  text-align: center;
}

a.home-menu-link {
  float: left;
  text-decoration: none;
  color: #222;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

a.home-menu-link:hover {
  border-bottom: 4px solid #222;
  transition: border 0.3s ease;
}

a.menu-active {
  border-bottom: 4px solid #222;
}

.page-header {
  height: 180px;
  margin-top: 0px;
}

